@model WeatherInfo.Models.WeatherInfoViewModel
@{
    ViewBag.Title = "Weather Info";
}
@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;                
    }
}

@using (Html.BeginForm())
{
<div id="main-content">
    <div class="todoList" id="loginPanel">         
         <h2>Weather Info</h2>
     <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                 <div class="editor-field">
                     <input type="radio" id="rdCity" name="rdCityZipCode" value="City" title="City" />
                     <input type="radio" id="rdZipCode" name="rdCityZipCode" value="ZipCode" /> <br />
                    <input type="text" id="WeatherCode" name="WeatherCode" placeholder="Zip/City Code"/>
                 </div>
            </li>
            <li>
                <input type="submit" value="Get Weather Info" />
            </li>
        </ol>

        @if (Model.WeatherInfo == null)
        {
            <p>No data found</p>
        }
        else
        {   
            <label id="HighTemp">High Temp: @Model.WeatherInfo.tempHigh</label>
            <label id="LowTemp">Low Temp: @Model.WeatherInfo.tempLow</label>
            <label id="Humidity">Humudity: @Model.WeatherInfo.humidity</label>
            <label id="Pressure">Pressure: @Model.WeatherInfo.pressure</label>
            <label id="Station">Station: @Model.WeatherInfo.station</label>
            <label id="SunRise">Sun Rise: @Model.WeatherInfo.sunrise</label>
            <label id="SunSet">Sun Set: @Model.WeatherInfo.sunset</label>
            <label id="FeelsLike">Feels Like: @Model.WeatherInfo.feelsLike</label>
            <label id="WindSpeed">Wind Speed: @Model.WeatherInfo.windspeed</label>
        }
        @Html.ValidationSummary()
    </fieldset>    
    </div>    

  
</div>
}

 @section scripts {
        @Scripts.Render("~/bundles/knockout")
        @Scripts.Render("~/bundles/jqueryval")       
    }